@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="row mb-4">
    <div class="col-12 mb-2">
        <h1 class="text-center">Greetings</h1>
    </div>
</div>
<div class="row mb-lg-5">
    <div class="d-flex col-md-6 align-items-center justify-content-center">
        <img src="~/img/blog-profile-img.png" alt="Alternate Text" class="img-fluid about-img" />
    </div>
    <div class="col-md-6  align-content-center justify-content-center">
        <h2>I'm Antwaun Johnson.</h2>
        <p>My experience as a customer service agent across many industries has allowed me to solve thousands of problems over the past 20 years.   </p>
        <p>As a result, I have gained a broad understanding of many of the problems organizations may face. </p>
        <p>With my experience working with clients, I can bridge the communication gap effectively. </p>
        <p>The common denominator in my life has been my <em><b>passion for learning and serving people</b></em>. In turn, this led me to pursue a career in <b>web development</b>.</p>
        <p>People and technologies are constantly changing. Choosing the right tools can be daunting. Many "<em>influencers</em>" on social media wrap some of the tools and programming languages into shiny new packages leaving new learners paralyzed with indecision.</p>
        <p><strong>For this reason, I chose to focus on C# and Dotnet!</strong></p>
        <p>The tools developed by Microsoft in collaboration with the open-source community will allow me to build scalable business solutions that meet the needs of diverse groups of people.</p>
        <p>Learning never stops. I encourage you to join me on this fulfilling and adventurous journey. Welcome in!</p>
    </div>
</div>